{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}



{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="container mt-4">
    <h1>Editar Cliente</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
        </div>
        <button style="margin-top: 15px;" type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>


{% endblock %}
